:root {
    --fondo: #181818;
    --texto: white;
    --ppal-fuerte: #40434E;
    --contraste-suave: #EEB044;
    --contraste-fuerte: #FF0A0A;
}


.hero {
    background-color:var(--fondo);
    font-size: 20px;
    height: 150px;
}

#tecnoalberdi {
    padding-left: 10px;
    padding-top: 100px;
}

#tecno {
    font-family: 'Lato';
    color: var(--contraste-fuerte);
}

#alberdi {
    font-family: 'Poppins';
    color: var(--contraste-suave);
}

p { 
    font-family: 'Inter'; 
}